{% extends 'base.html.twig' %}

{% block body %}
    <h1>Fehler {{ status_code }} - Teilung durch 0!</h1>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {# ... #}
    {% endif %}

    <p>
        Oje, da ist wohl etwas schief gegangen. <br />
        Schnell <a href="{{ path('homepage') }}">zurück zur Homepage</a>.
    </p>
{% endblock %}